body {
    background-color: black;
}
h1 {
    color:red;
}
h2 {
    color:orange;
}
h3 {
    color:yellow;
}
h4  {
    color: green;
}
h5 {
    color:blue;
}
p, figcaption {
    color:white;
    width:90%;
}
a {
    color:gray;
}
a:hover{
    color:red;
}
img, video {
    max-height: 300px;
    max-width:500px;
}